{% extends 'base.html.twig' %}

{% block title %}Euromag - Persiane{% endblock %}

{% block head_css %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/articoli') }}
{% endblock %}

{% block body %}

    <form class="form-inline mb-2">
        <input class="form-control col-8 col-md-4" id="formInputCerca" type="search" name="search" autocomplete="off"
               placeholder="codice..." aria-label="Cerca">
        <button class="btn btn-primary ml-2" type="submit">Trova</button>
    </form>

    <div class="d-flex flex-wrap">
        {% for articolo in persiane %}
            <div class="card">
                <div class="card-body bg-dark">
                    <h5 class="card-title">{{ articolo.codice }}</h5>
                    <p class="card-subtitle mb-2 text-muted">{{ articolo.descrizione }}</p>
                    <p class="card-body ">pezzi {{ articolo.pezzi }} <a class="h3" href="{{ path('persiane_update', {id: articolo.id}) }}"><i class="far fa-edit"></i></a>
                    </p>
                    {#<a href="{{ path('ubicazioni_index', {search: articolo.codice}) }}" class="card-link">trova</a>#}
                </div>
            </div>
        {% else %}
            <h3>Nessun articolo trovato.</h3>
        {% endfor %}
    </div>

    {% if persiane.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(persiane, 'twitter_bootstrap4_translated', {routeName: 'persiane_index_paginated', routeParams: app.request.query.all}) }}
        </div>
    {% endif %}

{% endblock %}