{% extends 'base.html.twig' %}

{% block title %}Euromag - Ubicazioni{% endblock %}

{% block head_css %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/ubicazioni') }}
{% endblock %}

{% block body %}

    {% set count = 0 %}
    {% set lastFila = 0 %}
    <div class="d-flex flex-wrap">
        {% for u in ubicazioni  %}
            {% include 'ubicazioni/_ubicazione.html.twig' with {'u': u} %}
            {% set count = count + 1 %}
            {% set lastFila = u.fila %}
        {% else %}
            <tr>Nessuna ubicazione trovata.</tr>
        {% endfor %}
    </div>

    {% if count == 1 %}
        <h3>Ubicazioni libere in fila {{ lastFila }}</h3>
        {{ include ('ubicazioni/_ubicazioni_free_fila.html.twig', {fila : lastFila}) }}
    {% endif %}

    {% if ubicazioni.haveToPaginate is defined and ubicazioni.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(ubicazioni, 'twitter_bootstrap4_translated', {routeName: 'ubicazioni_index_paginated', routeParams: app.request.query.all}) }}
        </div>
    {% endif %}
{% endblock %}
